html {
    height: 100%;
  }
body{
    position: relative;
    top: 10px;
    background: rgb(50,50,50);
    background: linear-gradient(90deg, rgb(136, 134, 134) 0%,
         rgb(224, 224, 224) 50%, rgb(136, 134, 134) 100%);
    height: initial;
    width: 800px;
    margin: auto;
}
#megnezo{
    height: 300px;
    display: flex;
    position: relative;
    box-shadow: 0px 4px 3px 3px #7e7b7b;
}
.kep{
    width:100%;
    background-color: #747474;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.felirat{
    background-color: rgba(0,0,0,0.6);
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.nyil{
    width: 50px;
    text-align: center;
}
.helper{
    height: 300px;
    display: inline-block;
    vertical-align: middle;
}
.bal{
    background-color: #dadada;
    border-top-left-radius: 10px;
}
.jobb{
    background-color: #dadada;
    border-top-right-radius: 10px;
}
#bal{
    display: inline-block;
    width: 30px;
    transform: rotate(90deg);
    vertical-align: middle;
}
#jobb{
    display: inline-block;
    width: 30px;
    transform: rotate(-90deg);
    vertical-align: middle;
}
#thumb{
    width: 800px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
}
#nagykep{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    flex-grow: 1;
}
p{
    font-family: 'Quicksand', sans-serif;
    color: white;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    margin: 8px;

}
#leiras{
    color: #bbb;
    font-size: 15px;
}
.nyil:hover, .kiskep:hover {
    cursor: pointer;
}
.nyil:hover > .opa{
    opacity: 0.5;
}

.kiskep{
    max-width: 80px;
    max-height: 45px;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 13px 10px -10px;
    transition: 0.3s;
    border: white 2px solid;
}
.hide{
    color: white;
    padding: 10px 5px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    font-size: 10px;
    text-align: center;
    width: 100%;
    margin: 0px;
    top: -40px;
    display: none;
    transition: 1s;
}
.kisbox{
    position: relative;
}